<!-- <pdf-viewer [src]="'../../assets/TempAssets/Benefits\ of\ being\ a\ IEEE\ member.pdf'"
                    [show-all]="false" [autoresize]="true" [original-size]='true' [fit-to-page]='true'
                    [render-text]='false' (page-rendered)="pageRendered()"></pdf-viewer> -->
                    <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl("../../assets/TempAssets/Benefits\ of\ being\ a\ IEEE\ member.pdf?search=Keeping")'
                    style="width: 100%;height: 80vh" 
                    type="application/pdf"></iframe>