/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: pretty;
    src: url(./assets/Fonts/pretty.ttf) format("opentype");
  }

  