<div class="main">
    <div class = "title">
        Resonnect
    </div>
    <div class="main-margin">
        <div class = "navdrawer">
            <div class = "navdraweritem custom-btn btn-4" (click) = "getprojects()" style="width: 70%;">
                My Projects
            </div>
            <div class = "navdraweritem custom-btn btn-4" (click) = "getresumes()" style="width: 70%;">
                My Resumes
            </div>
            <div class = "navdraweritem custom-btn btn-4" routerLink="/projectupload" style="width: 70%;font-size: small;">
                Submit project for review
            </div>
            <div class = "navdraweritem custom-btn btn-4" routerLink="/resumeupload" style="width: 70%;font-size: small;">
                Submit resume for review
            </div>
        </div>
        <div class = "projectsandresumes" *ngIf = "projects">
            <div *ngFor = "let i of payload" class = "projectorresume custom-btn btn-15" (click) = "getreview1(i.payload.doc.id)">
                {{i.payload.doc.data().name}}
            </div>
        </div>
        <div class = "projectsandresumes" *ngIf = "!projects">
            <div *ngFor = "let i of payload; let ind = index" class = "projectorresume custom-btn btn-15" (click) = "getreview(i.payload.doc.id)">
                Resume {{ind}}
            </div>
        </div>
    </div>
</div>