<div class = "main">
    <div class = "main-margin">
        <div class = "cust-col">
            <form class="myform">
               
                <input type="hidden" name="_subject" value="Portfolio: New submission!">
                <div class="form__group field">
                  <textarea type="input" id='message' class="form__field" placeholder="Email" name="Message" id='email' required ></textarea>
                  <label for="message" class="form__label">Message</label>
                </div>
                <div class="frame"><button class="custom-btn btn-15">Submit</button></div>
              </form>
        </div>
        <div class = "cust-col">
    
        </div>
    </div>
</div>
