<!-- <app-pdf-viewer></app-pdf-viewer> -->
<div class="main">
    <div class = "title">
        ResumeGuru
    </div>
    <div class="main-margin">
        <div class="resumeupload ">
            
            <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">
        </div>
        <div class="compare">
            <div class="cust-col">

                <div class="jobdesc">
                    <div class="jdtitle">
                        Upload job description
                    </div>
                    <form [formGroup]="jobdescform" class="jobdescform">
                        <textarea placeholder="Enter job description" formControlName="jobdesc"
                            class="jobdescinp myformip"></textarea>
                            
                    </form>
                    <div class="analyzebutton" (click)="test()">
                        Analyze
                    </div>
                </div>

                <!-- <form class="myform">
    
                    <input type="hidden" name="_subject" value="Portfolio: New submission!">
                    <div class="form__group field">
                        <textarea type="input" id='message' class="form__field" placeholder="Email" name="Message"
                            id='email' required></textarea>
                        <label for="message" class="form__label">Message</label>
                    </div>
                    <div class="frame"><button class="custom-btn btn-15">Submit</button></div>
                </form> -->
            </div>
            <div class="cust-col">
                <!-- <pdf-viewer [src]="'../../assets/TempAssets/Benefits\ of\ being\ a\ IEEE\ member.pdf'"
                    [show-all]="false" [autoresize]="true" [original-size]='true' [fit-to-page]='true'
                    [render-text]='false' (page-rendered)="pageRendered()"></pdf-viewer> -->
                <app-pdf-viewer></app-pdf-viewer>
                <!-- <iframe src = "'../../assets/TempAssets/Benefits\ of\ being\ a\ IEEE\ member.pdf'"></iframe> -->

            </div>
        </div>

        <div class="termsscore">
            <div class="termsandscoretitle">
                Count of terms in resume
            </div>
            <div class="termsandscoretable">
                <div class="termsandscorerow">
                    <div class="termsandscorecell" style="flex-basis: 10%;">

                    </div>
                    <div class="termsandscorecell" style="flex-basis: 80%;">
                        Name
                    </div>
                    <div class="termsandscorecell" style="flex-basis: 20%;">
                        Count in resume
                    </div>
                </div>
                <div *ngFor="let i of tands" class="termsandscorerow">
                    <div class="termsandscorecell" style="flex-basis: 10%;">
                        {{i}}
                    </div>
                    <div class="termsandscorecell" style="flex-basis: 80%;">
                        Name {{i}}
                    </div>
                    <div class="termsandscorecell" style="flex-basis: 20%;">
                        Count in resume {{i}}
                    </div>
                </div>
            </div>
        </div>

        <div class="phrasesandscore">
            <div class="phrasesandscoretitle">
                Phrases and scores from job description
            </div>
        </div>

        <div class="similarjobs">
            <div class="similarjobstitle">
                Similar jobs
            </div>
            <div class="similarjobstabs">
                <div *ngFor="let i of tands" class="similarjobstab custom-btn btn-4">
                    {{i}}
                </div>
            </div>
        </div>

        <div class="impandsimilarity">
            <div class="impandsimilaritytitle">
                Imortance and similarity scores match
            </div>
            <div class="impandsimilaritytable">
                <div class="impandsimilarityrow">
                    <div class="impandsimilaritycell" style="flex-basis: 10%;">

                    </div>
                    <div class="impandsimilaritycell" style="flex-basis: 20%;">
                        Importance
                    </div>
                    <div class="impandsimilaritycell" style="flex-basis: 20%;">
                        Similarity
                    </div>
                    <div class="impandsimilaritycell" style="flex-basis: 50%;">
                        Text
                    </div>
                </div>
                <div *ngFor="let i of tands" class="impandsimilarityrow tabclass" style="margin-bottom: 1vh;">
                    <div class="impandsimilaritycell" style="flex-basis: 10%;" >
                        {{i}}
                    </div>
                    <div class="impandsimilaritycell" style="flex-basis: 20%;">
                        Importance {{i}}
                    </div>
                    <div class="impandsimilaritycell" style="flex-basis: 20%;">
                        Similarity {{i}}
                    </div>
                    <div class="impandsimilaritycell" style="flex-basis: 50%;">
                        Text {{i}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>